
/*******************************************
* IMPORTS
*******************************************/
@import "tailwindcss";


/*******************************************
* THEME STYLES
*******************************************/

@theme {
    --color-brand-primary: #303841;
    --color-brand-secondary: #FF5722;
    --color-brand-grey: #4D4D4D;
}


/*******************************************
* BASE STYLES
*******************************************/
@layer base {

    h1 {
        @apply text-6xl font-bold text-brand-primary tracking-tighter mb-4;
    }

    h2 {
        @apply text-4xl text-brand-grey font-bold tracking-tight mb-2;
    }

    h3 {
        @apply text-xl text-brand-grey font-bold tracking-tight mb-2;
    }

    p,a {
        @apply text-[1.1rem];
    }

    nav li a {
        @apply text-white relative;
    }

    nav li:not(:last-child) > a::before {
        content: '';
        @apply absolute bottom-4 left-0 w-full h-0.5 bg-brand-secondary rounded-full;
        transform: scaleX(0) translateY(1.3rem);
        transform-origin: left;
        transition: transform 0.3s ease;
        pointer-events: none;
    }

    nav li:not(:last-child) a:hover::before {
        transform: scaleX(1) translateY(1.3rem);
    }

    nav ul {
        @apply flex gap-x-12 items-center;
    }

    .btn {
        @apply 
        bg-brand-secondary 
        rounded-sm 
        transition 
        duration-300 
        hover:bg-transparent 
        border border-brand-secondary
        py-2
        px-3;
    }
}
