
/*******************************************
* IMPORTS
*******************************************/
@import "tailwindcss";


/*******************************************
* THEME STYLES
*******************************************/

@theme {
    --color-brand-primary: #303841;
    --color-brand-secondary: #FF5722;
    --color-brand-grey: #4D4D4D;
    --color-brand-silver: #F5F5FA;
}


/******************************************
* ANIMATIONS
******************************************/
@keyframes flipUp {
  0% {
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
  }
}

.animate-flip-up {
  animation: flipUp 0.6s ease-out forwards;
}

/*******************************************
* BASE STYLES
*******************************************/
@layer base {

    h1 {
        @apply text-[5rem] font-bold text-brand-primary tracking-tighter leading-[4.8rem] mb-11;
    }

    h2 {
        @apply text-4xl text-brand-grey font-bold tracking-tighter mb-2;
    }

    h3 {
        @apply text-xl text-brand-grey font-bold tracking-tight mb-2 leading-6;
    }

    p,a {
        @apply text-[1.1rem];
    }

    p {
        @apply mb-10;
    }

    nav li a {
        @apply text-brand-primary relative font-bold;
    }

    nav li:not(:last-child) > a::before {
        content: '';
        @apply absolute bottom-4 left-0 w-full h-0.5 bg-brand-secondary rounded-full;
        transform: scaleX(0) translateY(1.3rem);
        transform-origin: left;
        transition: transform 0.3s ease;
        pointer-events: none;
    }

    nav li:last-of-type {
        @apply !p-2  
        bg-transparent 
        hover:bg-brand-secondary
        border border-brand-secondary;
    }

    nav .btn a {
        @apply text-brand-secondary hover:text-white font-medium;
    }

    nav li:not(:last-child) a:hover::before {
        transform: scaleX(1) translateY(1.3rem);
    }

    nav ul {
        @apply flex gap-x-12 items-center;
    }

    .btn {
        @apply 
        bg-brand-secondary 
        rounded-sm 
        transition 
        !text-white
        font-medium
        duration-300 
        hover:bg-transparent 
        border border-brand-secondary
        py-3.5
        px-4;
    }
}


.hero img {
    @apply ml-48 -mt-20;
}

.hero .content {
    @apply w-[39rem];
}

.hero .content p {
    @apply pr-20;
}