
/*******************************************
* IMPORTS
*******************************************/
@import "tailwindcss";


/*******************************************
* THEME STYLES
*******************************************/

@theme {
    --color-brand-primary: #303841;
    --color-brand-secondary: #FF5722;
    --color-brand-grey: #4D4D4D;
    --color-brand-silver: #F5F5FA;
}


/******************************************
* ANIMATIONS
******************************************/
@keyframes flipUp {
  0% {
    opacity: 0;
    transform: rotateX(90deg) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateY(0);
  }
}

.animate-flip-up {
  animation: flipUp .7s ease-out forwards;
}

/*******************************************
* BASE STYLES
*******************************************/
@layer base {

    h1 {
        @apply text-[3rem] md:text-[5rem] font-bold text-brand-primary tracking-tighter leading-[3rem] md:leading-[4.8rem] mb-11;
    }

    h2 {
        @apply text-3xl md:text-4xl text-brand-grey font-bold tracking-tighter mb-2;
    }

    h3 {
        @apply text-xl text-brand-grey font-bold tracking-tight mb-2 leading-6;
    }

    h4:not(footer h4) {
      @apply text-lg text-brand-grey font-bold tracking-tight mb-2 leading-6;
    }

    p,a {
        @apply text-[1.1rem];
    }

    p {
        @apply mb-6;
    }

    ul:not(footer ul):not(header ul) {
      @apply
      list-inside
      list-disc mb-4;
    }

    a:not(.btn):not(nav a):not(footer a) {
      @apply text-brand-primary transition duration-300 font-bold underline hover:text-brand-secondary;
    }

    ol {
      @apply
      list-inside
      list-decimal mb-4;
    }

    nav li:not(:last-child) a {
        @apply text-brand-primary relative font-bold;
    }

    nav li:not(:last-child) > a::before,
    footer li a::before {
        content: '';
        @apply absolute bottom-4 left-0 w-full h-0.5 bg-brand-secondary rounded-full;
        transform: scaleX(0) translateY(1.3rem);
        transform-origin: left;
        transition: transform 0.3s ease;
        pointer-events: none;
    }

    footer li {
      @apply leading-5 md:leading-8;
    }

    footer li a {
      @apply relative text-[#ededed];
    }

      nav li:last-of-type {
        @apply !p-0;
    }
  
    nav li:last-of-type a {
        @apply 
        transition
        duration-300 
        !text-brand-secondary 
        hover:!text-white font-medium
        hover:bg-brand-secondary
        border border-brand-secondary
        rounded-sm
        px-4 py-2;
    }
      

    nav li:not(:last-child) a:hover::before,
    footer li a:hover::before {
        transform: scaleX(1) translateY(1.3rem);
    }

    nav ul {
        @apply flex gap-x-12 items-center;
    }

    .btn {
        @apply 
        bg-transparent 
        rounded-sm 
        transition 
        !text-brand-secondary
        font-medium
        duration-300 
        hover:bg-brand-secondary 
        hover:!text-white
        border border-brand-secondary
        px-4 py-2;
    }

    .sub-header nav ul li a {
      @apply text-white;
    }

    nav {
      @apply transition duration-300;
    }
}

  nav.active {
    @apply bg-brand-secondary;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
    
  }

  nav.active li a {
    @apply text-white text-3xl leading-4 hover:text-brand-primary transition duration-300;
    
  }

  nav.active ul {
    @apply items-baseline py-20 px-12 leading-8;
    
  }

  #nav-toggle.active {
    @apply text-white z-20;
  }


/***********************************************
* HOME PAGE
***********************************************/
.hero img {
    @apply ml-48 -mt-20;
}

.hero .content {
    @apply md:w-[39rem];
}

.hero .content p {
    @apply md:pr-20;
}

.about p:last-of-type {
  margin-bottom: 2.5rem;
}


.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-decoration: none;
  overflow: visible; /* Important */
}

.blog-image-wrapper {
  position: relative;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.blog-image {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

.blog-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.blog-card:hover .blog-image {
  transform: scale(1.02);
}

.blog-card:hover .blog-overlay {
  opacity: 1;
}

.blog-title {
  padding: 2rem 1rem 1rem;
  border-radius: 0.5rem;
  margin-top: -6rem; /* pulls it closer to image */
  transition: transform 0.3s ease;
  bottom: .5rem;
  position: relative;
  z-index: 10;
  @apply 
  bg-brand-silver 
  mx-6 
  shadow-sm flex-1 flex 
  flex-col justify-between 
  text-center px-4 py-6 
  transition-transform 
  duration-300 
  group-hover:-translate-y-1;
}

.blog-card:hover .blog-title {
  transform: translateY(-1.5rem); /* move up on hover */
}


.blog-features a h3 span:last-of-type {
    @apply mt-5 block font-semibold text-[1rem];
}


/***********************************************
* BLOG PAGE
***********************************************/

.blog-posts .blog-title h3 {
  @apply text-[1rem] leading-[1rem] text-[#263238] leading-normal;
}

.blog-posts .blog-title h3 span {
  @apply text-[1.5rem] absolute right-[1rem] bottom-0;
}

.blog-posts .blog-title {
  @apply 
  py-[.5rem] 
  px-[1rem] 
  pb-[1rem]
  m-0
  bottom-0
  w-full
  group-hover:transform-none
  bg-transparent
  rounded-none
  text-left
  absolute;
}

.custom-sidebar label {
  @apply
  transition
  duration-300
  hover:cursor-pointer
  hover:text-brand-secondary;
}

#blog-filter input {
  display: none;
}

.trans-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#blog-filter h3 {
  @apply
  font-bold
  text-[1.4rem]
  border-b-1 border-[#ccc]
  text-brand-primary
  pb-[.6rem]
  mb-[1.5rem];
}

#blog_search_widget-3 input {
  @apply bg-[#EDE6F1] border-none rounded-[5rem] focus:outline-none pl-4;
}

.no-posts {
  @apply
  text-[2rem]
  font-bold
  bg-brand-silver
  rounded-[3rem]
  py-[1rem]
  px-[3rem]
  mx-auto
  mt-8;

}

/***********************************************
* SINGLE BLOG POST
***********************************************/

.single-blog-post .img-container div {
  @apply
  absolute
  bg-brand-silver
  text-center
  absolute
  bottom-0
  left-6
  p-4
  opacity-90
  rounded-md
  right-6;
}

.single-blog-post .img-container h1 {
  @apply
  text-[1.6rem]
  md:text-[2rem]
  leading-8
  mb-0;
}

.single-blog-post h2, 
.single-blog-post h3, 
.single-blog-post h4 {
  @apply mb-6 font-bold;
}

/***********************************************
* FOOTER
***********************************************/
footer h4 {
  @apply text-xl mb-3;
}
.tnp-field-email label {
  @apply !hidden;
}

.tnp-privacy-field {
  @apply text-[#b1b1b1] text-[0.8rem];
}

.tnp-email {
  @apply !bg-brand-grey !text-white focus:outline-none;
}

.tnp-email::placeholder {
  color: #fff;
}

.tnp-submit {
  @apply 
  !bg-transparent 
  rounded-sm
  transition
  !font-semibold
  duration-300
  !border-brand-secondary
  !border
  !text-brand-secondary
  hover:cursor-pointer
  hover:!bg-brand-secondary
  hover:!text-white; 
}


/***********************************************
* MEDIA QUERIES
***********************************************/
@media screen and (min-width:1200px) {
  .blog-posts article {
    width: 32%;
  }
}